.category-container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filters {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h4 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.products {
  width: 80%;
  padding: 10px;
}

.products h2 {
  margin-bottom: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card {
  width: 240px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
}

.price {
  font-weight: bold;
}
.psection {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: column;
  
  gap: 10px;
}
.gard{
  font-weight: 400;
}
.big{
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

.discount {
  color: green;
  margin-left: 5px;
}

.rating {
  color: #ff9800;
}
.fbt{
  margin:5px;
}
.ratingdiv{
   display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
        
}
.greenstar{
  background-color: rgb(0, 128, 0);
  padding:3.5px 6.5px;
  color:white;
  font-weight: 600;
  border-radius: 3px;
}
.realpricediv{
  color:gray; 
}
.dprice{
  font-weight: bold;
  /* color: gray; */
  
  color:rgb(57, 57, 57);
}
.sort{
  color:black;
  font-weight: bold;
}
.imgdetails{
  padding:15px;
}
